<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Atualização de Senha</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>
<body>
    {{ template "cabecalho" }}
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                        <h3 class="card-title">Atualização de Senha</h3>
                
                        <form action="/atualizar-senha" id="atualizar-senha">
                            <div class="form-group">
                                <label for="senha-atual">Senha Atual</label>
                                <input type="password" class="form-control" id="senha-atual" name="senha-atual" placeholder="Insira a sua senha atual" required="required">
                            </div>
                            <div class="form-group">
                                <label for="nova-senha">Nova Senha</label>
                                <input type="password" class="form-control" id="nova-senha" name="nova-senha" placeholder="Insira a sua nova senha" required="required">
                            </div>
                            <div class="form-group">
                                <label for="confirmar-senha">Confirmar Senha</label>
                                <input type="password" class="form-control" id="confirmar-senha" name="confirmar-senha" placeholder="Confirme a sua nova senha" required="required">
                            </div>
                            <button type="submit" class="btn btn-info">Atualizar Senha</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ template "scripts" }}
    {{ template "rodape" }}
    <script src="/assets/js/usuario.js"></script>
</body>
</html>
