<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Editar Usuário</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>
<body>
    {{ template "cabecalho" }}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Editar Dados</h3>
                <form id="editar-usuario">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Insira o seu Nome" value="{{ .Nome }}" required="required">
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Insira o seu E-mail" value="{{ .Email }}" required="required">
                    </div>
                    <div class="form-group">
                        <label for="nick">Nick</label>
                        <input type="text" class="form-control" id="nick" name="nick" placeholder="Insira o seu Nick" value="{{ .Nick }}" required="required">
                    </div>
                    <button type="submit" class="btn btn-info">Atualizar Dados</button>
                </form>
            </div>
        </div>
    </div>

    {{ template "scripts" }}
    {{ template "rodape" }}
    <script src="/assets/js/usuario.js"></script>
</body>
</html>