<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - {{ .Nome }}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    
</head>
<body>
    {{ template "cabecalho" }}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Meu Perfil
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ .Nome }} - {{ .Nick }} - Membro Desde:
                            {{ .CriadoEm.Format "02/01/2006" }}
                        </h6>
                        <p class="card-text">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modal-seguidores" style="text-decoration: none;">
                                Seguidores: {{ len .Seguidores }}
                            </a>
                        </p>
                        <p class="card-text">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modal-seguindo" style="text-decoration: none;">
                                Seguindo: {{ len .Seguindo }}
                            </a>
                        </p>
                        <div class="row">
                            <div class="col-12">
                                <a href="/editar-usuario" class="card-link" style="text-decoration: none;">
                                    <button class="btn btn-info">
                                        Editar Dados
                                    </button>
                                </a>
                                <a href="/atualizar-senha" class="card-link">
                                    <button class="btn btn-info">
                                        Atualizar Senha
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Minhas Publicações</h5>
                        <p class="card-text">
                            {{ range .Publicacoes }}
                                {{ template "publicacao-com-permissao" . }}
                            {{ else }}
                                <p class="text-muted text-center">
                                    Nenhuma publicação encontrada para este usuário.
                                </p>
                            {{ end }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a href="" class="card-link" id="deletar-usuario">
            <button class="btn btn-info">
                Excluir conta permanentemente
            </button>
        </a>
    </div>
    
    {{ template "scripts" }}
    <script src="/assets/js/usuario.js"></script>
    {{ template "rodape" }}
    
</body>
</html>